nextflow.enable.strict = false

params.backend = 'slurm'
params.executor = 'slurm'
params.default_queue = 'CHANGE_ME'
params.gpu_queue = null
def data_path = System.getenv('DATA_PATH') ?: "${baseDir}/../data"
def data_bind = "--bind ${data_path}:/tmp/data"
// Task scripts create /data, /results, /scratch, and other root links. SIF
// files are read-only, so provide an ephemeral writable upper layer.
def writable_tmpfs = '--writable-tmpfs'

def hasApptainer = ['bash', '-c', 'command -v apptainer'].execute().waitFor() == 0
def hasSingularity = ['bash', '-c', 'command -v singularity'].execute().waitFor() == 0

if (hasApptainer) {
    apptainer {
        enabled = true
        autoMounts = true
        platform = 'linux/amd64'
        envWhitelist = ['MPLCONFIGDIR', 'NUMBA_CACHE_DIR', 'HDF5_USE_FILE_LOCKING']
    }
} else if (hasSingularity) {
    singularity {
        enabled = true
        autoMounts = true
        platform = 'linux/amd64'
        envWhitelist = ['MPLCONFIGDIR', 'NUMBA_CACHE_DIR', 'HDF5_USE_FILE_LOCKING']
    }
} else {
    throw new RuntimeException('Neither apptainer nor singularity found in PATH')
}

process {
    executor = 'slurm'
    queue = params.default_queue
    containerOptions = "${writable_tmpfs} ${data_bind}"
    errorStrategy = 'terminate'
    maxForks = 4

    withName: converter_capsule {
        cpus = 16
        memory = '128 GB'
        time = '1d'
    }
    withName: motion_correction {
        cpus = 16
        memory = '128 GB'
        time = '1d'
    }
    withName: movie_qc {
        cpus = 16
        memory = '128 GB'
        time = '1d'
    }
    withName: decrosstalk_split_json {
        cpus = 2
        memory = '16 GB'
        time = '4h'
    }
    withName: decrosstalk_roi_images {
        cpus = 8
        memory = '64 GB'
        time = '1d'
    }
    withName: extraction {
        cpus = 8
        memory = '64 GB'
        time = '1d'
    }
    withName: dff_capsule {
        cpus = 4
        memory = '32 GB'
        time = '12h'
    }
    withName: oasis_event_detection {
        cpus = 4
        memory = '32 GB'
        time = '12h'
    }
    withName: classifier {
        cpus = 16
        memory = '60 GB'
        containerOptions = "${writable_tmpfs} --nv ${data_bind}"
        clusterOptions = '--gres=gpu:1'
        queue = params.gpu_queue ?: params.default_queue
        time = '1d'
    }
    withName: ophys_nwb {
        cpus = 4
        memory = '32 GB'
        time = '12h'
    }
    withName: pipeline_processing_metadata_aggregator {
        cpus = 2
        memory = '16 GB'
        time = '4h'
    }
}

dag {
    enabled = true
    file = env('RESULTS_PATH') + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = env('RESULTS_PATH') + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = env('RESULTS_PATH') + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = env('RESULTS_PATH') + '/nextflow/trace.txt'
    overwrite = true
}
