process {
    executor = 'awsbatch'
    queueSize = 100
    maxForks = 16          
    errorStrategy = 'retry'       
    maxRetries = 20  
    maxErrors = 100
    time = 1.d
}
process.resourceLabels = ['allen-batch-pipeline': 'aind-pophys-pipeline']
process {
  withName: classifier { containerOptions = '--shm-size 4g' }
}
