aind-data-schema==2.9.0
aind-data-schema-models==6.2.0
aind-pophys-metadata @ git+https://github.com/AllenNeuralDynamics/aind-pophys-metadata.git@adac8ebee57f895bb2d30b69cde01dd41afbce10
log-schema[cloudwatch] @ git+https://github.com/AllenNeuralDynamics/aind-log-utils.git@f09685e8b6f4228d0dd37e867b52de0286fffccb#subdirectory=python
oasis-deconv==0.2.0
scipy==1.15.3
numpy==2.2.6
h5py==3.16.0
matplotlib==3.10.9
seaborn==0.13.2
pydantic-settings==2.14.2
pytz==2026.3.post1
